.sidebar{
    height: 100vh;
    background: #394556;
    padding-top: 40px;
    width: 100%;
}

.sidebar h1{
  
   margin-bottom: 50px;
  color: white;
  text-align: center
}

.sidebar ul{
    padding: 0;
    list-style: none;
    
}

.sidebar ul li{
    padding: 5px;
}

.sidebar ul li a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 100px 10px 100px;
}

.sidebar ul li a:hover{
    background: #5C6879
}