<div style='width:500px'>
    <h2>Register</h2>
    <form [formGroup]="newProjectForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="client">client Id </label>
            <select formControlName="client" id="client">
                <option *ngFor="let company of companies; let c = index" [value]="c">
                    {{company.name}}
                </option>
            </select>
            <div *ngIf="submitted && f.client.errors" class="invalid-feedback">
                <div *ngIf="f.client.errors.required">Client is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="projectName">Project Name</label>
            <input type="text" formControlName="projectName" class="form-control createInput" [ngClass]="{ 'is-invalid': submitted && f.projectName.errors }" />
            <div *ngIf="submitted && f.projectName.errors" class="invalid-feedback">
                <div *ngIf="f.projectName.errors.required">Project name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="projectType">project type </label>
            <select formControlName="projectType" id="projectType">
                <option *ngFor="let prType of types; let i = index" [value]="i">
                    {{prType.description}}
                </option>
            </select>
            <div *ngIf="submitted && f.projectType.errors" class="invalid-feedback">
                <div *ngIf="f.projectType.errors.required">project type is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="startDate">Start Date</label>
            <input type="date"  name="startDate" formControlName="startDate" class="form-control createInput" [ngClass]="{ 'is-invalid': submitted && f.startDate.errors }" />
            <div *ngIf="submitted && f.startDate.errors" class="invalid-feedback">
                <div *ngIf="f.startDate.errors.required">Start Date is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="endDate">End Date</label>
            <input type="date"  name="endDate" formControlName="endDate" class="form-control createInput" [ngClass]="{ 'is-invalid': submitted && f.endDate.errors }" />
            <div *ngIf="submitted && f.endDate.errors" class="invalid-feedback">
                <div *ngIf="f.endDate.errors.required">End Date is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" formControlName="address" class="form-control createInput" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                <div *ngIf="f.address.errors.required">Address is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" formControlName="description" class="form-control createInput" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                <div *ngIf="f.description.errors.required">Description is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="picture">Picture</label>
            <input type="file" accept="image/*" (change)="fileChange($event)" formControlName="picture" class="form-control createInput" [ngClass]="{ 'is-invalid': submitted && f.picture.errors }" />
            <div *ngIf="submitted && f.picture.errors" class="invalid-feedback">
                <div *ngIf="f.picture.errors.required">Picture is required</div>
            </div>
        </div> 
        
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary createBtn">Create</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <!-- <a [routerLink]="['/login']" class="btn btn-link">Cancel</a> -->
        </div>
    </form>
</div>





